<%= render 'shared/header2' %>

<div class="container">
  <div>
    <div class="phrase">Good morning!<br>How are you doing?</div>
  </div>
  <div class="text-right">
    <%= image_tag '/images/heart.png', style:"width: 35%;", class:"image" %>
  </div>
</div>

<script>
  $('.phrase').hide().fadeIn('slow');
  $('.image').hide().fadeIn('slow');
</script>
