/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: "M PLUS 1p";
}

li {
  list-style-type: none;
}

/* index.html.erb */
.greeting {
  font-size: 10ex;
}

.login-link {
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
  font-size: 3ex;
  color: black;
}
.login-link::before,
.login-link::after {
	position: absolute;
	content: '';
	width: 0;
	height: 1px;
	background-color: black;
	transition: .3s;
}
.login-link::before {
	top: 0;
	left: 0;
}
.login-link::after {
	bottom: 0;
	right: 0;
}
.login-link:hover::before,
.login-link:hover::after {
	width: 100%;
}

/* sign upページ */
